.optimize {
    background: url("../src/assets/images/optimize\ link-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
}



.footer-bg {
    background-image: url("../src//assets//images/footer-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.footer-top {
    width: 100%;
    display: flex;
    margin: auto;
}



.footer-bottom {

    display: flex;
    margin: auto;

}



.url-bg {
    background: url("../src/assets/images/optimize\ link-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    height: 450px !important;
    display: grid !important;
    place-items: center !important;
}


@media screen and (max-width: 1000px) {
    .footer-bg {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

    .footer-top {
        width: 40%;
        display: flex;
        flex-direction: column;
        margin-left: auto;

    }

    .footer-bottom {
        width: 40%;
        flex-direction: column;

    }

}